body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*********************** cabeçalho ***********************/

#header{
    height: 13%;
    width: 100%;
    background-color: #20201E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 0.001px solid white;
}

#logo-face-a-face{
    height: 100%;
    width: auto;
}

#icons{
    position: absolute;
    right: 2%;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 1%;
}

#icons img{
    height: 40%;
    width: auto;
}

#sub-header{
    height: 9%;
    width: 100%;
    background-color: #20201E;
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-text {
    position: absolute;
    font-size: 120%;
    text-decoration: none;
    color: white;
}

.header-text:hover{
    color: #33B1AE;
}

.header-text.historia{
    right: 60%;
}

.header-text.home{
    position: relative;
}

.header-text.faq{
    left: 60%;
}

/*********************** corpo ***********************/
#content{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

#form-cadastro{
    width: 100%;
    min-height: 436px;
}

.form-row{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding-bottom: 2%;
}

.form-group{
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

label{
    font-size: 20px;
    margin: 0;
}

.cadastro-input{
    border-radius: 18px;
    height: 45px;
    width: 100%;
    border: 2px solid black;
    font-size: 14px;
    margin: 0;
    padding: 2%;
}

/*********************** rodapé ***********************/

#content-bottom{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line1{
    width: 44%;
    margin-right: 15px;
    margin-top: 18px;
}

.line2{
    width: 44%;
    margin-left: 15px;
    margin-top: 18px;
}

.line hr{
    background-color: #686868;
}

.bottom-details{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottom-text{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    text-align: center;

}

.bottom-text.texto{
    color: #686868;
}

.bottom-text.link{
    color: #33B1AE;
    text-decoration: none;
    font-weight: bold;
}

#button{
    width: 20%;
    height: 25%;
    background-color: #33B1AE;
    color: white;
    border: none;
    border-radius: 13px;
    font-size: 120%;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
}

#button input{
    width: 20%;
    height: 25%;
    background-color: #33B1AE;
    color: white;
    border: none;
    border-radius: 13px;
    font-size: 120%;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
}