<HTML lang="pt-br">
    <HEAD>
        <title>administrador</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <a href="/cadastro-render"><img src="static/imagens/user-icon.png" id="user-icon"></a>
                <a href=""><img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon"></a>
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text-adm historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text-adm home">HOME</a> 
            <a href="/faq-render" class="header-text-adm faq">FAQ</a>
            {% if session.get('user') == 'gabihromagna@gmail.com' %}
                <a href="/admin-render" class="header-text-adm admin">ADM</a>
            {% endif %}
        </div>
        <div id="content-admin">
            <form name="form-admin" method="post" action="/admin" id="form-admin" enctype="multipart/form-data">
                
                <div class="form-row-admin">
                    <input type="text" name="codigo-admin" class="admin-input codigo" id="codigo-admin" placeholder="Código:">
                    <input type="text" name="preco-admin" class="admin-input2 preco" placeholder="Preço:">
                </div>
                <div class="form-row-admin">
                    <input type="text" name="nome-admin" class="admin-input nome" placeholder="Nome:">
                    <input type="text" name="categorias-admin" class="admin-input2 categorias" placeholder="Categorias:">
                </div>
                <div class="form-row-admin">
                    <input type="text" name="marca-admin" class="admin-input marca" placeholder="Marca:">
                    <input type="number" name="qtd-admin" class="admin-input2 qtd" placeholder="Quantidade:">
                </div>
                <div class="form-row-admin2">
                    <textarea name="desc-admin" class="admin-textarea desc" placeholder="Descrição:"></textarea>
                    <div class="files-admin">
                        <div class="file-upload">
                            <div class="admin-upload" onclick="document.getElementById('foto1').click()">
                                <img id="preview1" src="/static/imagens/imge-upload-icon.png" style="width:100%; height:100%; object-fit:cover;">
                            </div>
                            <input type="file" id="foto1" name="foto-admin1" onchange="previewImage(this, 'preview1')" class="file-input">
                            <button type="submit" name="acao-admin" class="btn-confirmar" value="adicionar">CONFIRMAR</button>
                        </div>
                        <div class="file-upload">
                            <div class="admin-upload" onclick="document.getElementById('foto2').click()">
                                <img id="preview2" src="/static/imagens/imge-upload-icon.png" style="width:100%; height:100%; object-fit:cover;">
                            </div>
                            <input type="file" id="foto2" name="foto-admin2" onchange="previewImage(this, 'preview2')" class="file-input">
                            <button type="submit" name="acao-admin" class="btn-deletar" value="deletar" onclick="return confirmarDelete()">DELETAR</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </BODY>
</HTML>

<script>
function previewImage(input, previewId) {
    const preview = document.getElementById(previewId);
    const file = input.files[0];
    const reader = new FileReader();

    reader.onload = function (e) {
        preview.src = e.target.result;
        preview.style.display = 'block';
    };

    if (file) {
        reader.readAsDataURL(file);
    }
}

function confirmarDelete(){
    const codigo = document.getElementById('codigo-admin').value.trim();
    if(!codigo){
        return false;
    }
    return confirm("Deseja deletar esse produto?")
}
</script>