<HTML lang="pt-br">
    <HEAD>
        <title>{% block title %}Título{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="{{ url_for('static',  filename='imagens/logo-face-a-face.png')}}" id="logo-face-a-face">
            <div id="icons">
                <img src="{{ url_for('static',  filename='imagens/search-bar-icon.png')}}" id="search-bar-icon">
                <img src="{{ url_for('static',  filename='imagens/user-icon.png')}}" id="user-icon">
                <a href="/carrinho-render"><img src="{{ url_for('static',  filename='imagens/shopping-cart-icon.png')}}" id="shopping-cart-icon"></a>
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text home">HOME</a> 
            <a href="/faq-render" class="header-text faq">FAQ</a>
            {% if session.get('user') == 'gabihromagna@gmail.com' %}
                <a href="/admin-render" class="header-text-adm admin">ADM</a>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
        <!-- modal -->
        <div id="account-modal" class="modal-user">
            <div class="modal-content-user">
                <span class="close-user">&times;</span>
                {% if session.get('user') %}
                    {% if session.get('user') == 'gabihromagna@gmail.com' %}
                        <p>Administrador</p>
                    {% endif %}
                    <p>{{ session.get('user').get('nome', '') }}</p>
                    <p>{{ session.get('user').get('email', '') }}</p>
                    <p>{{ session.get('user').get('telefone', '') }}</p>
                    <p>{{ session.get('user').get('nascimento', '') }}</p>
                    <a href="{{ url_for('login.logout') }}">Sair</a>
                {% else %}
                    <p>Você não está logado.</p>
                    <a href="{{ url_for('login.login') }}">Entrar</a>
                {% endif %}
            </div>
        </div>
        {% block scripts %}
        <script>
            const modal = document.getElementById('account-modal');
            const btn = document.getElementById('user-icon');
            const span = document.getElementsByClassName('close-user')[0];
            
            btn.onclick = function() {
                modal.style.display = 'block';
            }
            
            span.onclick = function() {
                modal.style.display = 'none';
            }
            
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            }
            </script>
        {% endblock %}
    </body>
</html>