<HTML lang="pt-br">
    <HEAD>
        <title>{% block title %}Título{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <a href="/cadastro-render"><img src="static/imagens/user-icon.png" id="user-icon"></a>
                <a href=""><img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon"></a>
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text home">HOME</a> 
            <a href="/faq-render" class="header-text faq">FAQ</a>
            {% if session.get('user') == 'gabihromagna@gmail.com' %}
                <a href="/admin-render" class="header-text-adm admin">ADM</a>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>