<HTML lang="pt-br">
    <HEAD>
        <title>cadastre-se</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <a href="/cadastro-render"><img src="static/imagens/user-icon.png" id="user-icon"></a>
                <a href=""><img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon"></a>
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text home">HOME</a> 
            <a href="/faq-render" class="header-text faq">FAQ</a>
            {% if session.get('user') == 'gabihromagna@gmail.com' %}
                <a href="/admin-render" class="header-text-adm admin">ADM</a>
            {% endif %}
        </div>
        <div id="content-cadastro">
            <form name="form-cadastro" method="post" action="/cadastrar" id="form-cadastro">
                <div class="form-row-cadastro">
                    <div class="form-group-cadastro">
                        <label>Nome:</label>
                        <input type="text" name="nome-cadastro" class="cadastro-input" required>
                    </div>
                    <div class="form-group-cadastro">
                        <label>Senha:</label>
                    <input type="password" name="senha-cadastro" class="cadastro-input senha" required>
                    </div>
                </div>
                <div class="form-row-cadastro">
                    <div class="form-group-cadastro">
                        <label>E-mail:</label>
                        <input type="email" name="email-cadastro" class="cadastro-input email" required>
                    </div>
                    <div class="form-group-cadastro">
                        <label>Confirme a senha:</label>
                        <input type="password" name="senhaConfirm-cadastro" class="cadastro-input senhaConfirm" required>
                    </div>
                </div>
                <div class="form-row-cadastro">
                    <div class="form-group-cadastro">
                        <label>Telefone:</label>
                        <input type="tel" name="fone-cadastro" class="cadastro-input fone">
                    </div>
                    <div class="form-group-cadastro">
                        <label>Data de nascimento(opcional):</label>
                        <input type="date" name="dataNasc-cadastro" class="cadastro-input dataNasc">
                    </div>
                </div>
                <div id="content-bottom">
                    <input type="submit" name="cadastrar-botao" value="CADASTRAR" id="button">
                    <div class="bottom-details">
                        <div class="line">
                            <hr>
                        </div>
                        <div class="bottom-text">
                            <text class="bottom-text texto">já tem uma conta?</text>
                            <a href="/login-render" class="bottom-text link">fazer login</a>
                        </div>
                        <div class="line">
                            <hr>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </BODY>
</HTML>