<HTML lang="pt-br">
    <HEAD>
        <title>cadastre-se</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <img src="static/imagens/user-icon.png" id="user-icon">
                <img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon">
            </div>
        </div>
        <div id="sub-header">
            <a href="" class="header-text historia">HISTÓRIA</a> 
            <a href="" class="header-text home">HOME</a> 
            <a href="" class="header-text faq">FAQ</a>
        </div>
        <div id="content">
            <form name="form-cadastro" method="post" action="/cadastrar">
                <div id="left">
                    Nome:<br>
                    <input type="text" name="nome-cadastro" class="cadastro-input nome" required><br>
                    E-mail:<br>
                    <input type="email" name="email-cadastro" class="cadastro-input email" required><br>
                    Telefone:<br>
                    <input type="tel" name="fone-cadastro" class="cadastro-input fone"><br>
                </div>
                <div id="right">
                    Senha:<br>
                    <input type="password" name="senha-cadastro" class="cadastro-input senha" required><br>
                    Confirme a senha:<br>
                    <input type="password" name="senhaConfirm-cadastro" class="cadastro-input senhaConfirm" required><br>
                    Data de nascimento(opcional):<br>
                    <input type="date" name="dataNasc-cadastro" class="cadastro-input dataNasc"><br>
                </div>
                <div id="content-bottom">
                    <input type="submit" name="cadastrar-botao" value="CADASTRAR" id="button">
                    <text class="bottom-text texto">já tem uma conta?</text>
                    <a href="/login-render" class="bottom-text link">fazer login</a> 
                </div>
                
            </form>
        </div>
    </BODY>
</HTML>