{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
        <div id="content-cadastro">
            <form name="form-cadastro" method="post" action="/cadastrar" id="form-cadastro">
                <div class="form-row-cadastro">
                    <div class="form-group-cadastro">
                        <label>Nome:</label>
                        <input type="text" name="nome-cadastro" class="cadastro-input" required>
                    </div>
                    <div class="form-group-cadastro">
                        <label>Senha:</label>
                    <input type="password" name="senha-cadastro" class="cadastro-input senha" required>
                    </div>
                </div>
                <div class="form-row-cadastro">
                    <div class="form-group-cadastro">
                        <label>E-mail:</label>
                        <input type="email" name="email-cadastro" class="cadastro-input email" required>
                    </div>
                    <div class="form-group-cadastro">
                        <label>Confirme a senha:</label>
                        <input type="password" name="senhaConfirm-cadastro" class="cadastro-input senhaConfirm" required>
                    </div>
                </div>
                <div class="form-row-cadastro">
                    <div class="form-group-cadastro">
                        <label>Telefone:</label>
                        <input type="tel" name="fone-cadastro" class="cadastro-input fone">
                    </div>
                    <div class="form-group-cadastro">
                        <label>Data de nascimento(opcional):</label>
                        <input type="date" name="dataNasc-cadastro" class="cadastro-input dataNasc">
                    </div>
                </div>
                <div id="content-bottom">
                    <input type="submit" name="cadastrar-botao" value="CADASTRAR" id="button">
                    <div class="bottom-details">
                        <div class="line">
                            <hr>
                        </div>
                        <div class="bottom-text">
                            <text class="bottom-text texto">já tem uma conta?</text>
                            <a href="/login-render" class="bottom-text link">fazer login</a>
                        </div>
                        <div class="line">
                            <hr>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
{% endblock %}