{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div id="content-carrinho">
    <div id="carrinho-left-div">
        {% if produtos %}
        <div class="top-carrinho">
            <p class="title-carrinho">Carrinho({{ total_itens }}):</p>
            <div class="select-all-container">
                <input type="checkbox" id="select-all-carrinho" class="select-all-carrinho-checkbox">
                <label for="select-all-carrinho" class="select-all-carrinho-label">Selecionar todos</label>
            </div>
        </div>

        <form action="{{ url_for('carrinho.checkbox_precos') }}" method="post" class="checkbox-carrinho" id="form-checkbox-carrinho">
            {% for item in produtos %}
            <div class="card-produto-carrinho">
                <input type="checkbox" name="produto-carrinho-ids" value="{{ item.id}}" id="produto-{{ item.id }}">
                <img src="{{ url_for('static', filename=item.foto1) }}" alt="{{ item.nome }}" class="img-produtos-carrinho">
                <div class="card-carrinho-infos">
                    <p class="nome-carrinho">{{ item.nome }}</p>
                    <p class="preco-carrinho">R$ {{ "%.2f"|format(item.preco) }}</p>
                    <p class="qtd-carrinho">QUANTIDADE: {{ item.quantidade }}</p>
                    <a href="{{ url_for('carrinho.remove_carrinho', produto_id=item.id) }}" class="remover-produto-carrinho">REMOVER</a>
                </div>
            </div>
            {% endfor %}
            <input type="submit" value="Atualizar total" class="btn-atualizar">
        </form>
        {% else %}
        <div  class="carrinho-vazio">
            <p class="mensagem-carrinho-vazio">Seu carrinho está vazio</p>
            <input type="button" name="btn-redirect" value="IR ÀS COMPRAS" class="btn-redirect" onclick="window.location.href='{{ url_for('home.home') }}'">
        </div>
        {% endif %}
    </div>

    <div class="divisoria-vertical-carrinho"></div>

    <div id="carrinho-right-div">
        {% for item in produtos %}
        <div class="carrinho-right-infos">
            <p class="nome-carrinho-right">{{ item.nome }}</p>
            <p class="preco-carrinho-right">R$ {{ "%.2f"|format(item.preco) }}</p>
        </div>
        {% endfor %}
        <p class="total-carrinho-right"><strong>TOTAL:</strong> R$ {{ "%.2f"|format(total) }}</p>
        <p class="text-carrinho-right">+ posível acréscimo devido ao frete</p>
        <form action="{{ url_for('carrinho.finalizar_compra')}}" method="post" class="carrinho-btn">
            <input type="submit" name="btn-finalizar" value="PROSSEGUIR" class="btn-finalizar">
        </form>
        <div class="line-horizontal">
            <hr>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        const selectAllCarrinho = document.getElementById('select-all-carrinho');
        const produtoCarrinhoIds = document.querySelectorAll('input[name="produto-carrinho-ids"]');
        const totalPreco = document.querySelector('.total-carrinho-right')

        function atualizarTotal(){
            let total = 0;
            produtoCarrinhoIds.forEach(function(check){
                if(check.checked){
                    const card = check.closest('.card-produto-carrinho');
                    const preco = parseFloat(card.querySelector('.preco-carrinho').dataset.preco);
                    const qtd = parseInt(card.querySelector('.qtd-carrinho').textContent.replace("QUANTIDADE: ",""));
                    total += preco * qtd;
                }
            });
            totalPreco.textContent = 'R$ ' + total.toFixed(2);
        }

        produtoCarrinhoIds.forEach(cb => cb.addEventListener('change', atualizarTotal));
        atualizarTotal();

        selectAllCarrinho.addEventListener('change', function() {
            const selecionado = selectAllCarrinho.checked;
            produtoCarrinhoIds.forEach(function(checkbox){
                checkbox.checked = selecionado;
            });
        });

        produtoCarrinhoIds.forEach(function(checkbox){
            checkbox.addEventListener('change', function(){
                const todosProdutosSelecionados = Array.from(produtoCarrinhoIds).every(produto => produto.checked);
                selectAllCarrinho.checked = todosProdutosSelecionados;
            });
        });
    });
</script>
{% endblock %}