{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div id="content-compra">
    <div class="div-left-compra">
        <div class="div-nomes-compra">
            {% if produtos %}
                {% for p in produtos %}
                    <p class="nomes-produtos-compra"><strong>{{ p.nome }}</strong> - R$ {{ "%.2f"|format(p.preco) }} <strong>x{{ p.quantidade }}</strong></p>
                {% endfor %}
            {% else %}
                <p>erro: carrinho vazio</p>
            {% endif %}
        </div>

        <div class="div-form-compra">
            <form method="post" class="form-compra" action="{{ url_for('compra.comprar')}}">
                <div class="div-radio-compra">
                    <label class="label-radio-compra">Método de pagamento:</label>
                    <div class="radio-tipo-compra">
                        <input type="radio" id="pix" name="tipo-pag" value="pix">
                        <label for="pix" class="label-tipo-compra">Pix</label>
                    </div>
                </div>
                
                <div class="div-inputs-compra">
                    <input type="text" name="cep-compra" class="compra-input" placeholder="CEP:" required>
                    <input type="text" name="desconto-compra" class="compra-input" placeholder="Cupom de desconto:">
                </div>

                <div class="div-total-compra">
                    <p id="frete-info"></p>
                    <p id="total-compra" class="total-compra"><strong>PREÇO TOTAL:</strong> R$ <span id="valor-total">{{ "%.2f"|format(total) }}</span></p>
                    <input type="hidden" name="total-final" id="total-final" value="{{ '%.2f'|format(total) }}">
                </div>
                
                <div class="div-botao-compra">
                    <button type="submit" class="btn-comprar-compra">COMPRAR</button>
                </div>
            </form>
        </div>
    </div>

    <div class="divisoria-vertical-compra"></div>

    <div class="div-right-compra">
        {% if pag_info %}
            {% if pag_info.tipo == "pix" %}
                <div class="pix-compra">
                    <p class="instrucao-qr-pix-compra">ESCANEIE O QR CODE PARA PAGAR:</p>
                    <img src="data:image/png;base64,{{ pag_info.qr_code_img }}" alt="QR Code PIX" class="img-qr-pix-compra">
                    <p class="instrucao-copy-pix-compra">OU COPIE A CHAVE PIX:</p>
                     <textarea readonly class="copy-pix-compra">{{ pag_info.chave }}</textarea>
                </div>
                
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        const cep = document.querySelector('input[name="cep-compra"]');
        const totalFrete = document.querySelector('#valor-total');
        const totalHidden = document.querySelector('#total-final');
        /* const form = document.querySelector('form.div-radio-compra'); */
        const freteInfo = document.querySelector('#frete-info')

        let totalBase = parseFloat("{{ total }}");

        cep.addEventListener('blur', function(){
            if (cep.value.length === 8) {
                fetch("{{ url_for('compra.calculo_frete')}}", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: new URLSearchParams({ 'cep-compra': cep.value })
                }).then(res => res.json()).then(data => {
                    if (data.erro) {
                        alert("CEP inválido");
                        return;
                    }

                    const frete = data[0];
                    const totalComFrete = totalBase + frete.valor;

                    totalFrete.innerText = totalComFrete.toFixed(2);
                    freteInfo.innerText = `Frete (${frete.servico}): R$ ${frete.valor.toFixed(2)} - ${frete.prazo} dias úteis`;

                    totalHidden.value = totalComFrete.toFixed(2);

                    /* document.querySelector('#frete-info').innerText = `Frete (${frete.servico}): R$ ${frete.valor.toFixed(2)} - ${frete.prazo} dias úteis`; */
                }).catch(() => alert("ERRO DE CONEXÃO CORREIOS"));
            }
        });
    });
</script>
{% endblock %}