<HTML lang="pt-br">
    <HEAD>
        <title>FAQ</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <a href="/cadastro-render"><img src="static/imagens/user-icon.png" id="user-icon"></a>
                <a href=""><img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon"></a>
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text home">HOME</a> 
            <a href="/faq-render" class="header-text faq">FAQ</a>
            {% if session.get('user') == 'gabihromagna@gmail.com' %}
                <a href="/admin-render" class="header-text-adm admin">ADM</a>
            {% endif %}
        </div>
        <div id="content-faq">
            <div id="form-faq">
                <h2>PERGUNTAS FREQUENTES</h2>
                <h3>1. O que preciso para comprar na loja?:</h3>
                <p>Para realizar compras na loja é necessário ter uma conta cadastrada. Somente após o cadastro a compra será registrada.<br>Clique no icône do usuário para acessar a página de login e cadastro.</p>
                <h3>2. Esqueci minha senha o que faço?</h3>
                <p>Na página de login clique em "esqueci minha senha", será enviado um email para a conta registrada.</p>
                <h3>3. Localizando produtos:</h3>
                <p>É possível encontrar produtos pesquisando pela caixa de pesquisa no cabeçalho da página e também por meio dos filtros<br> na lateral esquerda.<br>Para conseguir informações do produto clique na imagem.</p>
                <h3>4. Como adicionar um produto ao carrinho?</h3>
                <p>Clique no botão “Comprar” para incluir o produto em seu carrinho. Lá você poderá consultar os itens comprados, suas quantidades, é muito mais que um carrinho de compras!</p>
            </div>
        </div>
    </BODY>
</HTML>