{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
        <div id="content-faq">
            <div id="form-faq">
                <h2>PERGUNTAS FREQUENTES</h2>
                <h3>1. O que preciso para comprar na loja?:</h3>
                <p>Para realizar compras na loja é necessário ter uma conta cadastrada. Somente após o cadastro a compra será registrada.<br>Clique no icône do usuário para acessar a página de login e cadastro.</p>
                <h3>2. Esqueci minha senha o que faço?</h3>
                <p>Na página de login clique em "esqueci minha senha", será enviado um email para a conta registrada.</p>
                <h3>3. Localizando produtos:</h3>
                <p>É possível encontrar produtos pesquisando pela caixa de pesquisa no cabeçalho da página e também por meio dos filtros<br> na lateral esquerda.<br>Para conseguir informações do produto clique na imagem.</p>
                <h3>4. Como adicionar um produto ao carrinho?</h3>
                <p>Clique no botão “Comprar” para incluir o produto em seu carrinho. Lá você poderá consultar os itens comprados, suas quantidades, é muito mais que um carrinho de compras!</p>
            </div>
        </div>
{% endblock %}