<HTML lang="pt-br">
    <HEAD>
        <title>cadastre-se</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <img src="static/imagens/user-icon.png" id="user-icon">
                <img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon">
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text home">HOME</a> 
            <a href="/faq-render" class="header-text faq">FAQ</a>
        </div>
        <div id="content-faq">
            <div id="form-faq">

            </div>
        </div>
    </BODY>
</HTML>