<html lang="pt-br">
    <head>
        <title>história</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <a href="/cadastro-render"><img src="static/imagens/user-icon.png" id="user-icon"></a>
                <a href=""><img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon"></a>
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text home">HOME</a> 
            <a href="/faq-render" class="header-text faq">FAQ</a>
            {% if session.get('user') == 'gabihromagna@gmail.com' %}
                <a href="/admin-render" class="header-text-adm admin">ADM</a>
            {% endif %}
        </div>
        <div id="content-historia">
            <div id="map-div-historia">
                <label>LOCALIZAÇÃO:</label>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.034251033941!2d-42.1381426!3d-19.7866162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa1a3d5a6c7b1f7%3A0xf74a4ad0f9b7b9a8!2sAvenida%20Oleg%C3%A1rio%20Maciel%2C%20200A%20-%20Centro%2C%20Caratinga%20-%20MG!5e0!3m2!1spt-BR!2sbr!4v1692947036000!5m2!1spt-BR!2sbr" 
                    id="mapa-historia" allowfullscreen="" loading="lazy"/>
                </iframe>
                <p class="endereco">
                    Endereço: Avenida Olegário Maciel, 200A - Centro <br> 
                    CEP: 35300365 - Caratinga/MG
                </p>
            </div>
            <div id="text-div-historia">
                <div id="top-div-historia">
                    <h2 class="slogan-historia">Face a Face se dedica a realçar aquilo que é belo: você!</h2>
                    <div class="descricao-loja">
                        <p>A loja face a face teve sua fundação em 2017. Inicialmente uma sociedade formada por duas primas Núbia Santana e Grescyquelia Santana. Onde ficou registrado o CNPJ , S&S Cosméticos Ltda. Em 2020 , foi adquirida por Andressa Romagna, proprietária desde então. É uma loja focada em enaltecer a beleza que já existe em cada cliente. Atendemos com produtos para cabelos , unhas naturais e extensões , skin Care e cuidados faciais  , maquiagens em geral. Nosso atendimento é mto humanizado e bem direcionado para melhor atender as necessidades das clientes que vem até a loja...Priorizamos nossos clientes físicos , mas até demais tbm online ... Loja Face a Face , enaltecendo belezas.</p>
                    </div>
                    <p><b>Telefone:</b> (33) 99983-6838&emsp;<b>Email:</b> faceafaceloja@gmail.com</p>
                </div>
                <div id="bottom-div-historia">
                    <h4>FORMAS DE PAGAMENTO:</h4>
                    <div class="formas-pagamento">
                        <img src="static/imagens/amex-card.png" class="img-card">
                        <img src="static/imagens/aura-card.png" class="img-card">
                        <img src="static/imagens/bb-card.png" class="img-card">
                        <img src="static/imagens/boleto-card.png" class="img-card">
                        <img src="static/imagens/bradesco-card.png" class="img-card">
                        <img src="static/imagens/diners-card.png" class="img-card">
                        <img src="static/imagens/elo-card.png" class="img-card">
                        <img src="static/imagens/hipercard-card.png" class="img-card">
                        <img src="static/imagens/hsbc-card.png" class="img-card">
                        <img src="static/imagens/itau-card.png" class="img-card">
                        <img src="static/imagens/mastercard-card.png" class="img-card">
                        <img src="static/imagens/pagseguro-card.png" class="img-card">
                        <img src="static/imagens/visa-card.png" class="img-card">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>