<html lang="pt-br">
    <head>
        <title>história</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <img src="static/imagens/user-icon.png" id="user-icon">
                <img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon">
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="" class="header-text home">HOME</a> 
            <a href="" class="header-text faq">FAQ</a>
        </div>
        <div id="content-historia">
            <div id="map-div-historia">

            </div>
            <div id="text-div-historia">
                <div id="top-div-historia">

                </div>
                <div id="bottom-div-historia">
                    
                </div>
            </div>
        </div>
    </body>
</html>