<HTML lang="pt-br">
    <HEAD>
        <title>cadastre-se</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <img src="static/imagens/user-icon.png" id="user-icon">
                <img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon">
            </div>
        </div>
        <div id="sub-header">
            <a href="" class="header-text historia">HISTÓRIA</a> 
            <a href="" class="header-text home">HOME</a> 
            <a href="" class="header-text faq">FAQ</a>
        </div>
        <div id="content">
            <form name= "form-login" method="POST" action="/login">
                <label>Email:</label><br>
                <input type="email" name="email-login"><br>
                <label>Senha:</label><br>
                <input type="password" name="senha-login"><br><br>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </BODY>
</HTML>