<HTML lang="pt-br">
    <HEAD>
        <title>cadastre-se</title>
        <link rel="stylesheet" href="static/estilo.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1240,shrink-to-fit=no">
    </HEAD>
    <BODY>
        <div id="header">
            <img src="static/imagens/logo-face-a-face.png" id="logo-face-a-face">
            <div id="icons">
                <img src="static/imagens/search-bar-icon.png" id="search-bar-icon">
                <img src="static/imagens/user-icon.png" id="user-icon">
                <img src="static/imagens/shopping-cart-icon.png" id="shopping-cart-icon">
            </div>
        </div>
        <div id="sub-header">
            <a href="/historia-render" class="header-text historia">HISTÓRIA</a> 
            <a href="/home-render" class="header-text home">HOME</a> 
            <a href="/faq-render" class="header-text faq">FAQ</a>
        </div>
        <div id="content-login">
            <form name="form-login" method="post" action="/login" id="form-login">
                <div class="form-column-login">
                    <div class="form-group-login">
                        <label>E-mail:</label>
                        <input type="email" name="email-login" class="login-input email" required>
                    </div>
                    <div class="form-group-login">
                        <label>Senha:</label>
                        <input type="password" name="senha-login" class="login-input senha" required>
                        <a href="" class="recuperar-senha-login">esqueci minha senha</a>
                    </div>
                </div>
                <div id="content-bottom">
                    <input type="submit" name="login-botao" value="ENTRAR" id="button">
                    <div class="bottom-details">
                        <div class="line"><hr></div>
                        <div class="bottom-text">
                            <text class="bottom-text texto">já tem uma conta?</text>
                            <a href="/cadastro-render" class="bottom-text link">cadastre-se</a>
                        </div>
                        <div class="line"><hr></div>
                    </div>
                </div>
            </form>
        </div>
    </BODY>
</HTML>