{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div id="content-produto">
    <div id="div-top-produto">
        <div class="img-div-produto">
            <img src="{{ url_for('static', filename=produto.foto1) }}" class="img-produto">
        </div>
        <div class="infos-div-produto">
            <div class="infos-div-left">
                <p class="nome-produto">{{ produto.nome }}</p>
                <p class="preco-produto">R$ {{ "%.2f"|format(produto.preco) }}</p>
                <button class="btn-comprar-produto">COMPRAR</button>
            </div>
            <div class="infos-div-right">
                <img src="{{ url_for('static', filename='imagens/shopping-cart-add-icon.png') }}" class="shopping-cart-add">
            </div>
        </div>
        <div class="offer-div-produto">
            <div class="offer-div-top">
                <h2>MAIS VENDIDOS:</h2>
            </div>
            {% for mv in mais_vendidos %}
                <a href="{{ url_for('produto.produto', id=mv.id) }}">
                    <img src="{{ url_for('static', filename=mv.foto1) }}">
                    <p>{{ mv.nome }}</p>
                    <p>R$ {{ "%.2f"|format(mv.preco) }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
    <div id="div-bottom-produto">
        <div class="desc-div-produto">
            <p>{{ produto.descricao }}</p>
        </div>

        <div class="rec-div-produto">
        {% for rec in recomendados %}
            <a href="{{ url_for('produto.produto', id=rec.id) }}">
                <img src="{{ url_for('static', filename=rec.foto1) }}">
                <p>{{ rec.nome }}</p>
                <p>R$ {{ "%.2f"|format(rec.preco) }}</p>
            </a>
        {% endfor %}
        </div>
         
    </div> 
</div>
{% endblock %}